In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import datetime as dt
import math
from sympy import Symbol, solveset, Interval
import numpy as np

from quant_functions import anal_funcs, data_funcs

# 시각화 관련
import plotly_express as px
import plotly.figure_factory as ff
import cufflinks as cf
cf.go_offline(connected=True)
## cf.getThemes()
cf.set_config_file(theme='polar')
import plotly.graph_objects as go
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
## plt.style.use("fivethirtyeight")
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams["figure.figsize"] = (10,6)

In [2]:
def cal_ret(k, s, c, t):
    '''
    * k: 목표 자산, s: 시드 머니, c: 현금 흐름, t: 투자 기간
    * r: 목표수익률
    '''
    r=Symbol('r')
    equation = s*((1+r)**(t)) + c*((1-((1+r)**(t)))/(1-(1+r))) - k
    val = solveset(equation, r, Interval(0, 999))
    try:
        solve_r = float(list(val)[0])
        ret = (np.round(solve_r, 6))*100
    except:
        ret = 0
    return ret

##### 목표 수익률

In [88]:
s = 10000*1e4
k_ls = [30000*1e4, 50000*1e4, 100000*1e4]
t_ls = [3, 5, 8, 12]
c_ls = [150*12*1e4, 200*12*1e4, 300*12*1e4]

results = []
idxs = []
for k in k_ls:
    for t in t_ls:
        for c in c_ls:
            idxs.append((k, s, c, t))
            ## print((k, s, c, t))
            result = cal_ret(k, s, c, t)
            results.append(result)

In [92]:
target_rets = pd.DataFrame(idxs, columns=['목표 자산', '초기 자산', '현금 흐름', '투자 기간']).astype(int)
target_rets['현금 흐름'] = target_rets['현금 흐름']//12
target_rets[['초기 자산', '목표 자산', '현금 흐름']] = (target_rets[['초기 자산', '목표 자산', '현금 흐름']]//1e4).astype(int)
target_rets['목표 수익률'] = results
target_rets['목표 수익률'] = target_rets['목표 수익률'].round(2)
target_rets = target_rets[['목표 자산', '투자 기간', '초기 자산', '현금 흐름', '목표 수익률']]

In [94]:
target_rets[(target_rets['투자 기간'] == 5)&(target_rets['목표 자산'] == 30000)]

   목표 자산  투자 기간  초기 자산  현금 흐름  목표 수익률
3  30000      5  10000    150   12.92
4  30000      5  10000    200    9.25
5  30000      5  10000    300    2.24

In [ ]:
target_rets[(target_rets['목표 수익률'] <= 50)&(target_rets['목표 수익률'] >= 4)]

     목표 자산  투자 기간  현금 흐름  목표 수익률
2    10000      3    200   34.84
3    10000      3    250   10.73
4    10000      5    100   25.78
5    10000      5    150    5.27
22   30000      5    200   47.10
23   30000      5    250   35.24
24   30000      8    100   31.27
25   30000      8    150   20.27
26   30000      8    200   12.44
27   30000      8    250    6.29
28   30000     12    100   12.58
29   30000     12    150    5.79
40   50000      8    100   45.31
41   50000      8    150   34.14
42   50000      8    200   26.32
43   50000      8    250   20.27
44   50000     12    100   20.82
45   50000     12    150   14.30
46   50000     12    200    9.57
47   50000     12    250    5.79
58  100000      8    200   45.31
59  100000      8    250   39.14
60  100000     12    100   31.81
61  100000     12    150   25.39
62  100000     12    200   20.82
63  100000     12    250   17.25

In [40]:
pd.DataFrame(results)

            0
0    551.7834
1    342.4429
2    248.9570
3    192.7827
4    131.7770
5     86.6745
6     62.9658
7     47.0997
8     33.2232
9     19.2375
10    10.9312
11     4.8669
12    15.6036
13     6.9331
14     1.4871
15     0.0000
16   758.7537
17   489.6614
18   369.8825
19   298.1443
20   169.5469
21   119.2820
22    93.1315
23    75.7999
24    43.6269
25    29.5443
26    21.3701
27    15.5268
28    21.7375
29    13.3750
30     8.2923
31     4.5317
32  1138.0864
33   758.7537
34   590.3077
35   489.6614
36   228.3297
37   169.5469
38   139.2235
39   119.2820
40    58.1582
41    43.6269
42    35.3551
43    29.5443
44    29.9560
45    21.7375
46    16.8800
47    13.3750